* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

body {
  scroll-behavior: smooth;
  background: rgba(0, 0, 0, 0.6) url(img/art.jpg);
  background-size: cover;
  background-blend-mode: darken;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  width: 100%;
  transition: all 0.5s ease-in-out;
  background-color: rgba(9, 9, 9, 0.2);
}
.navlist {
  width: 78%;
  /* background-color:black; */
  display: flex;
  align-items: center;
  margin: auto;
  padding: 4px;
}
.navlist li {
  list-style: none;
  padding: 20px 25px 20px 25px;
}
.logo {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 26%;
  border: 4px rgba(0, 185, 185, 0.822);
  border-radius: 226px;
}
.logo img:hover {
  border-radius: 250px;
  border-style: outset;
}
.navlist li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}
.navlist li a:hover {
  color: red;
  font-weight: bolder;
}
.first {
  height: 120vh;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  max-width: 50%;
  margin: auto;
  height: 80%;
}
.firsthalf {
  width: 80%;
  justify-content: center;
  display: block;
  margin: auto;
  flex-direction: centre;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.socials a img {
  width: 44px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* SECTION 3 */
.left {
  /* height: 80vh; */
}
.main3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.img {
  justify-content: center;
  padding: 10px;
}
.img img {
  align-items: center;
  border: 10px chartreuse;
  border-radius: 70px;
  width: 350px;
}

/* ANCHOR RESPONSIVE WEBSITE */
.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}
.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 3px;
}

@media only screen and (max-width: 1044px) {
  .navlist {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
    height: 480px;
  }
  .burger {
    display: block;
  }
  .hnav {
    height: 56px;
  }
  .vclass {
    /* visibility hidden or opacity zero */
    opacity: 0;
  }
  .main {
    max-width: 100%;
    flex-direction: column-reverse;
  }
  .section {
    flex-direction: column-reverse;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
