* {
  box-sizing: border-box;
}

.projects {
  /* background-color: #947eb0; */
  justify-content: center;
  display: flex;
  min-height: 90vh;
}

.box {
  /* background-color: trans; */
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(187, 163, 206, 1);
  background-color: transparent;
  padding: 5% 0;
  border-radius: 20px;
  z-index: 1;
  user-select: none;
}

.grid .text {
  padding: 10px 20px 20px 30px;
  /*   color: #808285; */
  margin-bottom: 20px;
  min-height: 66%;
}

.grid .btn {
  margin-top: 20px;
  background-color: #04001a;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  line-height: 5;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  z-index: 12;
  position: relative;
  left: 40%;
}

.btn:hover {
  background: #2b0004;
  transition-duration: 80ms;
}

h3 {
  text-align: left;
}

/* Education */
/* .education {
  display: flex;
  flex-direction: column;
  width: 95%;
  min-height: 60vh;
  background-image: url('https://images.shiksha.com/mediadata/images/1576563781phpQj94TQ.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: difference;
  border-radius: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
} */

.education {
  width: 60%;
}

.university {
  position: sticky;
  z-index: 2;
}

.course {
  text-align: left;
  font-size: 0.9rem;
}
@media only screen and (max-width: 800px) {
  .education {
    width: 100%;
  }
  .course {
    text-align: center;
  }
}
